<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServicoEnvioArquivosFtp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ServicoEnvioArquivosFtp.My.MySettings>
            <setting name="ftpServidor" serializeAs="String">
                <value>ftp://167.114.30.84</value>
            </setting>
            <setting name="ftpUsuario" serializeAs="String">
                <value>joao</value>
            </setting>
            <setting name="ftpSenha" serializeAs="String">
                <value>jo0019</value>
            </setting>
            <setting name="ftpDiretorio" serializeAs="String">
                <value>valida</value>
            </setting>
            <setting name="localArmazenamento" serializeAs="String">
                <value>C:\Users\Guilherme\Desktop\tmp</value>
            </setting>
            <setting name="localLog" serializeAs="String">
                <value>c:\SrvEnvioFtp</value>
            </setting>
        </ServicoEnvioArquivosFtp.My.MySettings>
    </userSettings>
</configuration>